https://twitchievements.aaronthedev.com, http://twitchievements.aaronthedev.com {
  root frontend/twitchievements/dist
  gzip

  proxy /api localhost:8000 {
    transparent
    gzip
  }
}

https://twitcheivements.aaronthedev.com, http://twitcheivements.aaronthedev.com, {
  root frontend/twitchievements/dist
  gzip

  proxy /api localhost:8000 {
    transparent
    gzip
  }
}
