<!-- TODO: add logic for loadin -->
<div class="app" [ngClass]="{'sass-loading-spinner__no-click': false}" aria-hidden>
  <!-- Navbar -->
  <nav class="app__nav">
    <h1 class="app__nav__list__item">Twitchievements</h1>
    <ul class="app__nav__list">
      <li *ngFor="let route of navRoutes"
        class="app__nav__list__item"
        [hidden]="apiService &&
        ((apiService.hasAuth() && route.hideOnAuth) ||
        (!apiService.hasAuth() && route.requiresAuth))">
          <a [href]="route.url">{{route.title}}</a>
      </li>

      <li class="app__nav__list__item"
      [hidden]="apiService && !apiService.hasAuth()"
      (click)="logout()">
        <a href="/#/">Logout</a>
      </li>
    </ul>
  </nav>


  <!-- Router -->
  <!-- <base href="/"> -->
  <main class="app__container">
    <router-outlet></router-outlet>
  </main>
</div>
