<!-- Loading Spinner -->
<!-- Overlay for loading spinner -->
<div [hidden]="!apiService.isLoading">
  <div class="sass-loading-spinner__dark-overlay animated fadeIn">
  </div>

  <!-- Centered Modal for the loading spinner -->
  <div class="sass-loading-spinner__modal">

    <!-- Title for the Modal -->
    <h1 class="sass-loading-spinner__title">
      Loading...
    </h1>

    <!-- Anything can be placed inside the modal -->

    <!-- The loading spinner itself -->
    <div class="sass-loading-spinner__spinner">
    </div>
  </div>
</div>






<div class="app" [ngClass]="{'sass-loading-spinner__no-click': apiService.isLoading}" aria-hidden>
  <!-- Navbar -->
  <nav class="app__nav">
    <h1 class="app__nav__list__item">Twitchievements</h1>
    <ul class="app__nav__list">
      <li *ngFor="let route of navRoutes"
        class="app__nav__list__item"
        [hidden]="apiService &&
        ((apiService.hasAuth() && route.hideOnAuth) ||
        (!apiService.hasAuth() && route.requiresAuth))">
          <a [href]="route.url">{{route.title}}</a>
      </li>

      <li class="app__nav__list__item"
      [hidden]="apiService && !apiService.hasAuth()"
      (click)="logout()">
        <a href="/#/">Logout</a>
      </li>
    </ul>
  </nav>


  <!-- Router -->
  <!-- <base href="/"> -->
  <main class="app__container">
    <router-outlet></router-outlet>
  </main>
</div>
