<section class="dashboard animated fadeIn">
  <h1 class="dashboard__title center-text">
    Dashboard: {{username}}
  </h1>

  <h1 class="dashboard__title center-text">
    User Twitchviements
  </h1>

  <div class="dashboard__twitchievement"
    *ngFor="let twitchievement of userTwitchievementsKeys">
    <ul class="dashboard__twitchievement__user-list">
      <li class="dashboard__twitchievement__user-list__item">
        <h1 class="dashboard__twitchievement__user-list__item__date">
          {{getDate(twitchievement)}}
        </h1>
        <h3 class="dashboard__twitchievement__user-list__item__stream">
          {{userTwitchievements[twitchievement].stream}}
        </h3>
        <h3 class="dashboard__twitchievement__user-list__item__title">
          Achieved: {{userTwitchievements[twitchievement].twitchievement.displayName}}
        </h3>
      </li>
    </ul>
  </div>

  <hr>

  <h1 class="dashboard__title center-text">
    Stream Twitchviements
  </h1>

  <div class="dashboard__twitchievement"
    *ngFor="let twitchievement of twitchievementsKeys"
    [hidden]="(!twitchievements[twitchievement].users ||
    twitchievements[twitchievement].users.length < 3) && (!twitchievements[twitchievement].values ||
    twitchievements[twitchievement].values.length < 3)">
    <h1 class="dashboard__twitchievement__title center-text">
      {{twitchievements[twitchievement].displayName}}
    </h1>
    <h3 class="dashboard__twitchievement__description center-text">
      {{twitchievements[twitchievement].description}}
    </h3>
    <ol class="dashboard__twitchievement__list"
    type="1">
      <!-- Users -->
      <li *ngFor="let user of twitchievements[twitchievement].users; let i = index"
        [ngClass]="{'dashboard__twitchievement__list__item--first': i === 0}"
        class="dashboard__twitchievement__list__item">
        {{user.username}}: {{user.value}}
      </li>

      <!-- Values -->
      <li *ngFor="let value of twitchievements[twitchievement].values; let i = index"
        [ngClass]="{'dashboard__twitchievement__list__item--first': i === 0}"
        [style.color]="twitchievement === 'colorDictionary' ? value.key : ''"
        class="dashboard__twitchievement__list__item">
        {{value.key}}: {{value.amount}}
      </li>
    </ol>
  </div>

  <p [hidden]="!error">
    {{error}}
  </p>
</section>
