<section class="dashboard">
  <h1 class="dashboard__title center-text">
    Dashboard
  </h1>

  <div class="dashboard__twitchievement"
    *ngFor="let twitchievement of twitchievementsKeys">
    <h1 class="dashboard__twitchievement__title center-text">
      {{twitchievements[twitchievement].displayName}}
    </h1>
    <h3 class="dashboard__twitchievement__description center-text">
      {{twitchievements[twitchievement].description}}
    </h3>
    <ol class="dashboard__twitchievement__list"
    type="1">
      <!-- Users -->
      <li *ngFor="let user of twitchievements[twitchievement].users; let i = index"
        [ngClass]="{'dashboard__twitchievement__list__item--first': i === 0}"
        class="dashboard__twitchievement__list__item">
        {{user.username}}: {{user.value}}
      </li>

      <!-- Values -->
      <li *ngFor="let value of twitchievements[twitchievement].values; let i = index"
        [ngClass]="{'dashboard__twitchievement__list__item--first': i === 0}"
        class="dashboard__twitchievement__list__item">
        {{value.key}}: {{value.amount}}
      </li>
    </ol>
  </div>
</section>
