/* You can add global styles to this file, and also import other style files */

// NPM Sass Modules
@import '../node_modules/sass-bem-mixins/index.scss';
@import '../node_modules/sass-loading-spinner/index.scss';
@import '../node_modules/sass-theme-defaults/index.scss';
@import '../node_modules/sass-media-queries/index.scss';

// Using Gengar Color Pallet
$navbar: #5a4a9c;
$bg-color: $inverse;

// Import Bulma
@import "../node_modules/bulma/bulma.sass";

[hidden] {
  display: none !important;
}

a {
  color: $links;

  &:visited {
    color: $links;
  }
}

html, body {
  max-width: 100% !important;
  background-color: $inverse;
}
