<section class="streamer dashboard animated fadeIn">
  <h1 class="streamer__title center-text">
    <a href="https://twitch.tv/{{streamerId}}" target="_blank">{{streamerId}}</a>
  </h1>

  <!-- Twitch Embed -->
  <!-- Add a placeholder for the Twitch embed -->
  <div class="streamer__embed center-text">
    <div id="twitch-embed"></div>
  </div>

  <div class="streamer__twitchievement"
    *ngFor="let twitchievement of twitchievementsKeys"
    [hidden]="(!twitchievements[twitchievement].users ||
    twitchievements[twitchievement].users.length < 3) && (!twitchievements[twitchievement].values ||
    twitchievements[twitchievement].values.length < 3)">
    <h1 class="streamer__twitchievement__title center-text">
      {{twitchievements[twitchievement].displayName}}
    </h1>
    <h3 class="streamer__twitchievement__description center-text">
      {{twitchievements[twitchievement].description}}
    </h3>
    <ol class="streamer__twitchievement__list"
    type="1">
      <li *ngFor="let user of twitchievements[twitchievement].users; let i = index"
      [ngClass]="{'streamer__twitchievement__list__item--first': i === 0}"
      class="streamer__twitchievement__list__item">
        {{user.username}}: {{user.value}}
      </li>

      <li *ngFor="let value of twitchievements[twitchievement].values; let i = index"
      [style.color]="twitchievement === 'colorDictionary' ? value.key : ''"
      [ngClass]="{'streamer__twitchievement__list__item--first': i === 0}"
      class="streamer__twitchievement__list__item">
        {{value.key}}: {{value.amount}}
      </li>
    </ol>
  </div>

  <p [hidden]="!error">
    {{error}}
  </p>
</section>
