<h1>
  Join
</h1>
<h3>
  E-mail
</h3>
<input class="input"
  type="email"
  [(ngModel)]="email"
  placeholder="E-mail"
  required>

  <h3>
    Twitch Username
  </h3>
  <input class="input"
    type="text"
    [(ngModel)]="twitchUsername"
    placeholder="Twitch Username"
    required>

<h3>
  Password
</h3>
<input class="input"
  type="password"
  [(ngModel)]="password"
  placeholder="Password"
  required>

  <h3>
    Confirm Password
  </h3>
  <input class="input"
    type="password"
    [(ngModel)]="confirmPassword"
    placeholder="Password"
    required>

<button (click)="join()" class="button is-success">Go</button>
